/* || COLORS */

:root {
  --color-bg: #030712;
  --color-grid: #1f2937;
  --color-marker: #6b7280;
  --color-marker-accent: #e5e7eb;
}

/* || GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-marker);
}

/* || GAMEBOARD */

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(3, 240px);
  place-content: center;
  height: 100vh;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 160px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: relative;
}

/* || GRID LINES */

.cell::before {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 100%;
  height: 24px;
  background-color: var(--color-grid);
}

.cell:nth-child(7)::before,
.cell:nth-child(8)::before,
.cell:nth-child(9)::before {
  display: none;
}

.cell::after {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  bottom: 0;
  width: 24px;
  background-color: var(--color-grid);
}

.cell:nth-child(3)::after,
.cell:nth-child(6)::after,
.cell:nth-child(9)::after {
  display: none;
}

/* || CPU MARKER */

.cpu-marker-color {
  color: var(--color-marker-accent);
}
