/* || COLORS & TYPOGRAPHY */

:root {
  --color-bg: #030712;
  --color-grid: #1f2937;
  --color-marker: #6b7280;
  --color-marker-accent: #e5e7eb;
  --color-win: #a3e635;
  --color-draw: #2dd4bf;

  --font-size-xs: 24px;
  --font-size-sm: 56px;
  --font-size-lg: 160px;
  --font-size-xl: 184px;
}

/* || GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-marker);
  position: relative;
  overflow: hidden;
}

/* || GAMEBOARD */

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(3, 240px);
  place-content: center;
  height: 100vh;
  height: 100dvh;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font-size-lg);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: relative;
  /* disable text selection for player markers */
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* || GRID LINES */

.cell::before {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 100%;
  height: 24px;
  background-color: var(--color-grid);
}

.cell:nth-child(7)::before,
.cell:nth-child(8)::before,
.cell:nth-child(9)::before {
  display: none;
}

.cell::after {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  bottom: 0;
  width: 24px;
  background-color: var(--color-grid);
}

.cell:nth-child(3)::after,
.cell:nth-child(6)::after,
.cell:nth-child(9)::after {
  display: none;
}

/* || CPU MARKER */

.cpu-marker-color {
  color: var(--color-marker-accent);
}

/* || WIN */

.winning-cell {
  animation: zoomFlash 1s ease-in-out infinite;
}

@keyframes zoomFlash {
  0% {
    color: var(--color-grid);
  }
  50% {
    font-size: var(--font-size-xl);
    color: var(--color-win);
  }
  100% {
    color: var(--color-grid);
  }
}

/* || DRAW */

.draw-msg {
  color: var(--color-draw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-sm);
  font-family: Helvetica, Arial, sans-serif;
  animation: zoomFade 1.5s ease-out forwards;
  /* disable text selection for draw message */
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes zoomFade {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    font-size: var(--font-size-lg);
  }
}

.hide-draw-msg {
  display: none;
}

/* || RESTART BUTTON */

button {
  cursor: pointer;
  border: none;
  background-color: var(--color-win);
  padding: 12px 20px;
  border-radius: 8px;
  font-size: var(--font-size-xs);
  font-family: Helvetica, Arial, sans-serif;
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%);
  transition: 0.3s;
}

button:hover {
  background-color: var(--color-grid);
  color: var(--color-win);
}

.hide-btn {
  bottom: -52px;
  visibility: hidden;
}

/* || RESPONSIVE */

@media screen and (max-width: 720px) {
  :root {
    --font-size-lg: 80px;
    --font-size-xl: 96px;
  }

  .game-container {
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
  }

  .cell::before {
    bottom: -8px;
    height: 16px;
  }

  .cell::after {
    right: -8px;
    width: 16px;
  }

  button {
    bottom: 64px;
  }
}
